<div class="mm">
    <div class="content fade-in">
      <div class="container shadow-lg p-3  bg-body  ">
        <img src="css/icons8-registered-trademark-80.png" alt="" class="rounded mx-auto d-block ">
         
        <div class="body">
  
         <h2 data-text="Faculty" class="mt-4 mb-2 faculty ">Faculty</h2>
         </div>
       
        <form>
          <div class="mb-2">
            <div class="position-relative ">
                <input type="number" class="form-control mt-3 pt-0 inputTextField" id="exampleInputPassword1 shadow-sm p-3 mb-5 bg-body rounded"placeholder="ID">
                <p class="error1  position-absolute top-0 inputTextFieldError" style="display: none;"></p>
                <i class="fas fa-id-card position-absolute top-0"></i>
                <span></span>
              
               
  
  
            </div>
                <div class="position-relative">
                  
                <input type="text" class="form-control mt-3 pt-0 inputTextField" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Department">
                <p class="error1  position-absolute top-0 inputTextFieldError" style="display: none;"></p>
                <i class="fas fa-university position-absolute top-0"></i>
                <span></span>
  
              </div>
              </div>
              <div class="mb-3 " >
              
                <div class="position-relative">
                  
                <input type="text" class="form-control mt-3 pt-0 inputTextField" id="password" placeholder="Specility">
                <p class="error1  position-absolute top-0 inputTextFieldError" style="display: none;"></p>
                <i class="fas fa-book position-absolute top-0"></i>
                <span></span>
              
                 </div>
                 </div>
         
           <div class="mb-0 mt-2 " >
               <button type="submit" class="btn btn-primary mb-4 rounded-pill w-100 rounded-pill mt-3" >Register Now</button>
          </div> 
        
         
          </div> 
          </div>