<p>Register Placeholder form</p>
<form method="post" action="/register">
    <%- include('../partials/text-input-field' , {field:'emailAddress'}) %><br>
    <%- include('../partials/text-input-field' , {field:'username'}) %><br>
    <%- include('../partials/password-input-field' , {field:'password'}) %><br>
    <%- include('../partials/select-input-field' , {field:'role' , options:['student' , 'faculty']}) %><br>
    <button type="submit">Register</button>
</form>