
<div class="mmm">
    <div class="content fade-in">
        
      <div class="container shadow-lg p-3  bg-body  ">     
        <img src="css/icons8-registered-trademark-80.png" alt="" class="rounded mx-auto d-block ">
          
          <div class="body">
           <h2 data-text="Students" class="mt-3 mb-1  " id="text">Students</h2>
           </div>
        <div>
        <form>
          <div class="mb-2 ">
  
            <select class="form-select" id="a" aria-label="Default select example">
              <option selected>Select Stage</option>
              <option value="1">First</option>
              <option value="2">Second</option>
              <option value="3">Third</option>
              <option value="4">Fourth</option>
            </select>
           
          </div>
          <div class="mb-2 " >
        
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Studying</option>
              <option value="1">Morning</option>
              <option value="2">Evening</option>
           
            </select>
          </div>
          <div class="mb-3 " >
          
            <select class="form-select" aria-label="Default select example">
              <option selected>Select Branch</option>
              <option value="1">Networks</option>
              <option value="2">Informations</option>
           
            </select>
          
  
            <div class="mb-3 " >
            <div class="position-relative ">
            <input type="number" class="form-control  mt-3 pt-0 inputTextField" id="exampleInputPassword1 shadow-sm p-3 mb-5 bg-body rounded" placeholder="Student Id">
            <p class="error1 inputTextFieldError" style="display: none;">error</p>
            <i class="fas fa-id-card position-absolute top-0"></i>
            <span></span>
           </div>
          </div>
          
          </div>
          <button type="submit" class="btn btn-primary mb-4 rounded-pill w-100 rounded-pill mt-3" >Register Now</button>
         
          </div>
          </div>
          </div>
          </div>