<div class="errorBox">
    <% if(locals.errors != undefined){ %> 
    <% for(let i = 0 ; i < locals.errors.length ; i++){%>
        <div class="errorRecored"><%=locals.errors[i]%></div>
    <% } }%>  
</div>