<div class="col">
    <div class="card faculty-card h-100 ">
      <div class="card-img-top w-100 mx-auto d-block img-container" facultyUsername="<%- facultyMember.userInfo.username %>" profileImg ="<%- facultyMember.userInfo.profileImg || ""  %>"></div>
      <div class="card-body mt-3">
        <a href="/facultyMembers/<%- facultyMember.id_num %>" class="faculty-link">
          <h5 class="card-title"><%-facultyMember.userInfo.username %> </h5>
        </a>
      </div>
    </div>
  </div>