<div class="mb-3">
    <div class="position-relative">
        <div>
            <input type="file" name="courseImage" id="course-image-upload-field">  <!==Maybe changed to accept variables as a name and id -->
            <span class="form-input-line"></span>
        </div>
    </div>
  </div>