<h1>Create courses Placeholder form</h1>
<form action="/courses/createCourse" method="post">
    <%- include('../partials//text-input-field.ejs' , {field:'courseTitle' , errors:locals.errors}) %><br>
    <%- include('../partials//select-input-field.ejs' , {field:'stage' , options: ['1st'  , '2nd' , '3rd' , '4th']  , errors:locals.errors}) %><br>
    <%- include('../partials/select-input-field.ejs' , {field:'branch' , options:['information engineering' , 'network engineering' , 'both branches'] , errors:locals.errors}) %><br>
    <button type="submit">Create</button>
</form>