
<div class="content fade-in ">
<div class="container container-password-change">
    <i class="fas fa-check-circle icon animate__animated animate__pulse"></i>
    <h1 class="h-password-change">Password Changed Successfully</h1>
    <p class="p-password-change">Your password has been changed successfully.</p>
    <a href="#" class="btn btn-primary btn-primary-password-change">Log In</a>
  </div>
  </div>
