
<div class="content fade-in ">
<div class="container container-Email-confirmed">
    <i class="fas fa-envelope-open-text icon"></i>
    <h1 class="h-Email-confirmed">Email Confirmed</h1>
    <p class="p-Email-confirmed">Your email has been successfully confirmed.</p>
    <a href="#" class="btn btn-primary btn-primary-Email-confirmed">Log In</a>
  </div>
  </div>