<%- include('../partials/flash-message-box.ejs') %>
<div class="content fade-in ">
<div class="email-confirm-page-main-container email-confirm-page-container">
    <div class="container email-confirm-page-container shadow-lg p-3  bg-body">
        <img src="/images/register/email-confirm-page-image.svg" alt="" class="rounded mx-auto d-block w-25 mt-1">
        <div class="title-container">
          <h2 data-text=" Password&nbsp;Recovery" class="mt-3 mb-0 email-confirm-page email-confirm-page-header">Password Recovery</h2>
        </div>
        <p class="email-confirm-page-paragraph">An email was send to "<%- locals.emailAddress %>" check your inbox to recover your password</p>
        <hr>
        <div class="mb-3 links-container">
          <a href="/login/retrievePassword/resendEmail" class="text-decoration-none email-confirm-page-link">Resend Email</a>
        </div>
    </div>
</div>
</div>