<%- include('../partials/flash-message-box.ejs') %>
<div class="form-container">
  <div class="content fade-in ">
    <div class="container container-login shadow-lg p-3 bg-body">
        <div class="image-container">
          <img src="/images/formImage.png" alt="" class="rounded mx-auto d-block w-25 ">
        </div>
      <div class="title-container">
        <h2 class="mt-4 mb-9 title" id="retrieve-password-title">Recover Password</h2>
      </div>
      <p style="color: #29368edc; font-size: 15px;">Please enter your user name and email address to start password recavory process </p>
      <form action="/login/retrievePassword" method="post">
        <%- include('../partials/text-input-field.ejs' , {error:'' , fieldName:'username' , fieldId:'retrieve-password-field' , placeholder:'User Name' , boostrapIconName:"bi-person-fill" , isEmail:false}) %>
        <%- include('../partials/text-input-field.ejs' , {error:'' , fieldName:'emailAddress' , fieldId:'retrieve-password-email-field' , placeholder:'Email address' , boostrapIconName:'bi-envelope-fill' , isEmail:true}) %>
        <%- include('../partials/form-submit-button.ejs' , {buttonText:'Submit'}) %>
      </form>
    </div>
  </div>
</div>