<%- include('../partials/flash-message-box.ejs') %>
<div class="ReportMessage"><%= locals.message %> </div>
<h1>Confirm Your Email address</h1>
<p>An email was sent to "<%= locals.emailAddress %>" check your inbox for the confirmation email to verify your email address</p>

<a href="emailConfirmation/checkVerify">Already verified</a>
<a href="emailConfirmation/modifyEmail">Modify Email</a>
<a href="emailConfirmation/resendEmail">Resend Confirmation Email</a>
