<div class="container shadow-lg p-3  bg-body ">
    <div class="c">
        <img src="css/email-mail-svgrepo-com (1).svg" alt="" class="rounded mx-auto d-block w-25 mt-1">
    <div class="body">
      

    <h2 data-text=" Email&nbsp;Confirmation" class="mt-3 mb-0 ">Email Confirmation</h2>
    </div>
 <p>An email was send to "" check your inbox for the confirmation email to varified</p>
 
    <!-- from backend -->
    <hr>
   
  
    <p class="">Please click on the links below to confirm your email address:</p>
 
    <div class="mb-3">
       
    <a href="#"  class="text-decoration-none a1">Already verified</a>
    <a href="#" class="text-decoration-none a2" >Modify Email</a>
    <a href="#" class=" text-decoration-none a3">Resend Email</a>
    </div>
</div>
</div>
