<h1>Modify Email placeholder</h1>
<form action="modifyEmail" method="post">
    <%- include('../partials/text-input-field.ejs' , {field:'emailAddress' , errors:{emailAddress:locals.message}}) %> 
    <button type="submit">Update</button>
</form>