<div class="ReportMessage"><%= locals.message %> </div>
<h1>Confirm Your Email address</h1>
<p>Check you email for the confirmation email to verify your email address</p>
<a href="emailConfirmation/checkVerify">Already verified</a>
<a href="emailConfirmation/resendEmail">Resend Confirmation Email</a>
