.email-confirm-page-main-container {
	background-image: linear-gradient(
	  to right,
	  #46474f14,
	  #484b5f1e,
	  #2e324d2d
	) !important;
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	position: absolute;
	font-family: sans-serif;
  }
  .email-confirm-page-link {
	position: relative;
  }
  
  .email-confirm-page-link::before {
	content: "";
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 82%;
	height: 2px;
	background-color: #3d51d5c3;
	transform-origin: center;
	transform: translate(-50%, 0) scaleX(0);
	transition: transform 0.3s ease-in-out;
  }
  
  .email-confirm-page-link:hover::before {
	transform: translate(-50%, 0) scaleX(1);
  }
  
  .email-confirm-page-link {
	/* color: #3d52d5!important; */
	transition: all 0.4s ease-in-out !important;
	text-decoration: none !important;
	padding: 0px 8px !important;
	font-size: 15px;
	padding-top: 2px !important;
	background: linear-gradient(90deg, #0969e6, rgb(21, 36, 199));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
  }
  .emai-confirm-page-container {
	width: 51vw !important;
	margin-top: 15vh !important;
	border-radius: 9px !important;
	height: 60vh !important;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
  }
  
  .email-confirm-page-link:hover {
	transform: translate(0.1px, -1.2px);
  }
  @media (min-width: 280px) and (max-width: 399px) {
	.emai-confirm-page-container {
	  width: 97vw !important;
	  margin-top: 12vh !important;
	  border-radius: 9px !important;
	  height: 57vh !important;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
	}
  
	.email-confirm-page-link {
	  font-size: 12px !important;
	  padding: 0px 4px !important;
	}
	.email-confirm-page-paragraph {
	  font-size: 13px !important;
	}
	.emai-confirm-page-container .email-confirm-page-header {
	  font-size: 24px !important;
	}
  }
  @media (min-width: 200px) and (max-width: 280px) {
	.emai-confirm-page-container {
	  width: 97vw !important;
	  margin-top: 12vh !important;
	  border-radius: 9px !important;
	  height: 62vh !important;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
	}
	.emai-confirm-page-container .email-confirm-page-header {
	  font-size: 20px !important;
	}
	.email-confirm-page-link {
	  font-size: 8px !important;
	  padding: 0px 6px !important;
	}
	.email-confirm-page-paragraph {
	  font-size: 12px !important;
	}
  }
  @media (min-width: 400px) and (max-width: 799px) {
	.emai-confirm-page-container {
	  width: 97vw !important;
	  margin-top: 10vh !important;
	  border-radius: 9px !important;
	  height: 60vh !important;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
	}
  }
  @media (min-width: 800px) and (max-width: 900px) {
	.emai-confirm-page-container {
	  width: 85vw !important;
	  margin-top: 6vh !important;
	  border-radius: 9px !important;
	  height: 70vh !important;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
	}
  }
  @media (min-width: 901px) and (max-width: 980px) {
	.emai-confirm-page-container {
	  text-align: center;
	  width: 60vw !important;
	  margin-top: 6vh !important;
	  border-radius: 9px !important;
	  height: 60vh !important;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
	}
  }
  @media (min-width: 981px) and (max-width: 1100px) {
	.emai-confirm-page-container {
	  width: 60vw !important;
	  margin-top: 6vh !important;
	  border-radius: 9px !important;
	  height: 65vh !important;
	  display: flex;
	  flex-direction: column;
	  justify-content: center;
	  text-align: center;
	}
  }
  .title-container {
	display: flex;
	justify-content: center;
  }
  .links-container{
	display: flex;
	justify-content: center;
  }
  .email-confirm-page-header {
	text-align: center;
  
	font-family: sans-serif;
	font-size: 37px !important;
	background: linear-gradient(90deg, #243186, #0b186f);
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	/* position: relative; */
  }
  .email-confirm-page-header {
	/* color: #4157e3fe; */
	font-weight: bold !important;
	font-weight: 500 !important;
	/* -webkit-text-stroke: 1px ; */
	/* text-transform:uppercase; */
	text-align: center;
	font-size: 40px !important;
	position: relative;
  }
  
  .email-confirm-page-header::before {
	content: attr(data-text);
	position: absolute;
	width: 0;
	height: 100%;
	background: linear-gradient(90deg, #24284d, rgb(9, 26, 111));
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	-webkit-text-stroke: 0.1px;
	/* border-right: 4px solid  #3d51d5fb; */
	overflow: hidden;
	animation: animate 5s ease infinite;
  }
  @keyframes animate {
	0%,
	10%,
	100% {
	  width: 0;
	}
	70%,
	90% {
	  width: 100%;
	}
  }
  .email-confirm-page-paragraph {
	font-size: 17px;
	color: #666666;
	margin-top: 10px !important;
  }
  