.container-password-change {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .fa-check-circle{
    color: #28a745;
    font-size: 8rem;
    margin-bottom: 50px;
    animation: pulse 1s infinite;
  }
  @keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.03);
    }
    100% {
      transform: scale(1);
    }
  }
  .h-password-change{
    font-size: 3rem;
    color: #3d52d5;
    font-weight: bold;
    margin-bottom: 30px;
  }
  .p-password-change {
    font-size: 1.2rem;
    color: #6c757d;
    margin-bottom: 50px;
  }
  a.btn-primary-password-change {
    background-color: #3d52d5;
    border-color: #3d52d5;
    font-size: 1.2rem;
    font-weight: bold;
    padding: 10px 20px;
    transition: all 0.2s;
  }
  a.btn-primary-password-change:hover {
    background-color: #2d3c9d;
    border-color: #2c3c9e;
  }
  a.btn-primary-password-change:focus {
    box-shadow: 0 0 0 0.2rem rgba(58, 33, 216, 0.5) !important;
  }