<%- include('../partials/flash-message-box.ejs') %> 

<div class="content fade-in ">
<div class="page-container">
  <nav class="navbar navbar-expand-lg fixed-top navbar-light  ">
    <div class="container-fluid position-relative">
      <button id="show-menu-button" class="menu-button" onclick="showMenu()">  <i data-feather="menu">menu</i></button>
      <aside class="sidebar" id="aside-menu">
        <!-- <button class="sidebar-toggle">
          <i class="fa fa-chevron-circle-right yes" aria-hidden="true"></i>
        </button> -->
        <ul>
         
          <li>
							
						<!-- <a href="#" class="aside-link"> -->
						<!-- <i class="fa fa-user icon" aria-hidden="true"></i> -->
					
								<!-- <label for="file-input" class="circular-button"> 
							<img src="">
							
						  </label> -->
						  <a href="" class="logo"> 
							<label for="file-input" class="circular-button">
								<img src=""></label>&nbsp;&nbsp;<p class="logo-p">Result management</p></a>
								
					
						
						 
						
						
						
						<!-- <input id="file-input" type="file" accept="image/*"> -->
						</li>
            <li>
							<a href="/facultyMembers/<%- branchHead.id_num %>" class="aside-link" id="show-statistics">
                <i class="fa icon fa-user" aria-hidden="true"></i> &nbsp;&nbsp;  Branch head Courses </a>
						  </li>
         
        </ul>
      </aside>
      <img src="/images/logo.png" alt="" class=" h-100  navbar-brand">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <svg xmlns="http://www.w3.org/2000/svg" width="36" height="27" fill="currentColor" class="bi bi-list" viewBox="0 0 14 16">
          <path fill-rule="evenodd" d="M1.5 4.5A.5.5 0 0 1 2 4h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1zm0 4A.5.5 0 0 1 2 8h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1zm0 4A.5.5 0 0 1 2 12h12a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-1z" />
        </svg>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link courses" href="/facultyMembers">
            <i class="fa fa-home courses-icon   icon-course" aria-hidden="true"></i>&nbsp;Faculty Members </a>
        </li>
        <li class="nav-item">
          <a class="nav-link a2" href="/courses">
            <i class="bi bi-pencil-fill icon-course"></i>&nbsp; My Courses </a>
        </li>
        <li class="nav-item">
          <a class="nav-link a2" href="/grades/preFinalScorebook">
          <i class="fa fa-table icon-course"></i>&nbsp;Students Scorebook </a>
        </li>
        <li class="nav-item">
          <a class="nav-link a3" href="/logout">
            <i class="fas  fa-sign-out-alt icon-course"></i>&nbsp; Logout </a>
        </li>
      </ul>
    </div>
</div>
</nav>
<div class="container container-e  margin-on-nav-courses margin-on-nav p-3 ">
  <div class="row row-cols-1 row-cols-md-3 g-4" id="empty-div"><% locals.facultyMembers.forEach(facultyMember => { %><%- include('../partials/faculty-member-card.ejs' , {facultyMember}) %><% }) %> </div>
</div>
</div>
<button id="scroll-to-top" ><i class="fas fa-chevron-up"></i></button>
</div>